*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

body{
    font-family: $basic-font;
    padding: 3rem 2rem;
    background-image: url("../images/bg-header-desktop.png");
    background-repeat: no-repeat;
    background-position: top;
    text-align: center;
}

