.btn{
    padding: 1.5rem 4rem;
    font-family: inherit;
    font-size: 1.8rem;
    font-weight: 600;
    border: none;
    width: 90%;
    border-radius: 100px;
    color: #fff;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.2);
    
    &-ios{
        margin-bottom: 2rem;
        background-color: $strong-cyan;
        border-bottom: 4px solid rgb(38, 150, 133);
    }
    &-mac{
        background-color: $light-blue;
        border-bottom: 4px solid rgb(77, 94, 223);
    }
}

img{
    margin-bottom: 5rem;
    width: 100%;
}