// HERO SECTION

.hero{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 20rem;
    align-items: center;
    text-align: center;
    
    img{
        width: 12rem;
        margin-bottom: 5rem;
    }
}