// HERO SECTION

.hero{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 20rem;
    align-items: center;
    

    img{
        width: 10rem;
        margin-bottom: 5rem;
    }
}