// HERO SECTION

.hero{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    padding: 3rem 2rem;
    padding-bottom: 15rem;
    align-items: center;
    text-align: center;
    
    

    img{
        width: 12rem;
        margin-bottom: 5rem;
    }
}

// PRESENTATION SECTION

.presentation{
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

@media (min-width:1200px){
    .presentation{
        padding: 3rem 0;
        
    }
    .container{
        display: flex;
        align-items: center;
        justify-content: flex-start;
       
        width: 70%;
        gap: 20rem; 
        .img-box{
            flex: 1 0 55%;
            img{
                width: 90%;
            }
        }
        .info{
            text-align: left;
            flex: 1 0 45%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
        }
    }
}




// OPTIONS SECTION

.options{
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15rem;
}


// FOOTER

.footer{
    background-color: #eee;
    padding: 4rem 2rem;
    
    img{
        width: 6rem;
    }

    .menu{
        list-style: none;
        

        &_item{
            padding: 1rem;
          
        }

        &_link{
            color: $dark-gray-blue;
        }
        &_link:link,
        &_link:active{
            text-decoration: none;
            font-size: 2.5rem;
           
        }
    }


    .social{
        padding-top: 4rem;
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 3.5rem;

        a{
            text-decoration: none;
        }
        i{
            font-size: 3rem;
            color: $dark-gray-blue;
        }
    }

}