.heading-1{
    font-size: 3.2rem;
    width: 100%;
    
    line-height: 1.2;
    margin-bottom: 2rem;
    color: $dark-gray-blue;
}
.heading-2{
    font-size: 3rem;
    width: 100%;
    line-height: 1.2;
    margin-bottom: 2rem;
    color: $dark-gray-blue;
}
.paragraph{
    color: $gray-blue;
    font-size: 1.6rem;
    width: 92%;
    margin-bottom: 5rem;
}

@media (min-width: 1200px){
    .heading-1{
        font-size: 4rem;
    }
    
    .paragraph{
        font-size: 2rem;
        width: 40%;
    }
}